
img{
   height: 3px;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 100px;
}
#er{
    height: 80px;
}
.headbar{
   height: 200px;
   background-color: black;
}
.on{
    border-radius: 10%;
    color: white;
    background-color: black;
    font-weight: 800;
}
.head{
    margin-top: 0px;
    margin-left: 50px;
    color: red;
}
.para{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 20px;
    color: white;
}
.head:hover{
    margin-left: 300px;
    transition: 1s;
    color: white;
    font-size:  40px;
}
.main{
    background-image: url(main.jpg);
    height: 220px;
    cursor: pointer;
}
.para:hover{
    margin-left: 100px;
    transition: 1s;
}
.abou{
    margin-left: 20px;
}
.about{
    margin-top: 20px;
    background-color: #f4f4f4;
    color: #222;
}
.about:hover{
     transition: 1s;
     cursor: pointer;
}
.projects{
    background-color: #121212;
    color: #ffffff;
    margin-top: 10px;
}
.projects a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}
.projects a:hover{
    opacity: 0.6;
}
.pr1{
    margin-top: 120px;
}
.contact{
    background-color: #f2f2f2;
    color: #222;
}
.abou{
    font-size: 20px;
}
.edu{
    font-size:20px ;
    background-color: #f4f4f4;
    color: #222;
}
.Education{
    padding: 60px 10%;
}
.edu h2{
    font-weight: 700;
    letter-spacing: 1px;
}
a{
    color: #ff2e2e;
}
a:hover{
    opacity: 0.6;
}
.projects h3{
    font-weight: 600;
}
html{
    scroll-behavior: smooth;
}
@media (max-width: 768px) {
    .btns {
        flex-direction: column;
        gap: 35px;
        margin-bottom: 60px;
    }

    .head {
        margin-left: 20px;
        font-size: 28px;
    }

    .para {
        margin-left: 10px;
        font-size: 16px;
    }

    .main {
        height: 180px;
    }

    .projects a {
        font-size: 16px;
    }

    .Education {
        padding: 40px 6%;
    }
}
@media (max-width: 480px) {
    .btns {
        gap: 20px;
        margin-bottom: 40px;
    }

    .head {
        margin-left: 10px;
        font-size: 22px;
    }

    .para {
        margin-left: 5px;
        font-size: 14px;
    }

    .main {
        height: 150px;
        background-size: cover;
    }

    .projects a {
        font-size: 14px;
    }

    .Education {
        padding: 30px 5%;
    }

    .head:hover {
        margin-left: 20px;
        font-size: 26px;
    }

    .para:hover {
        margin-left: 5px;
    }
}
@media (max-width: 360px) {
    .head {
        font-size: 20px;
        margin-left: 5px;
    }

    .para {
        font-size: 12px;
        margin-left: 5px;
    }

    .main {
        height: 130px;
    }

    .projects a {
        font-size: 12px;
    }
}